body{
	margin:0px;
	padding:20px;
	background-color:#135;
	
}
.desc{
	text-align:center;
	color:white;
	
}
article h1{
	font-size:12.5vw;
	margin-bottom:0px;
	
}
article p{
	font-size:4vw;
	margin-top:0px;
	line-height:0.5px;
	word-spacing:3vw;
	letter-spacing:4px;
	font-family:arial;
}
.connect{
	
}
.connect ul{
	margin-top: 0px; 
	padding-left:0px;
	text-align: center;
	background-color: white;
}
.connect li{
	list-style-type: none;
	
}
.connect a{
	text-decoration: none;
	font-size: 4vw; 
	font-family:arial;
	padding: 20px;
	
}
@media (min-width:600px){
	article h1{
	font-size:8vw;
	margin-bottom:0px;
	
}
article p{
	font-size:2.5vw;
	margin-top:0px;
	line-height:0.5px;
	word-spacing:3vw;
	letter-spacing:4px;
	font-family:arial;
}
	
	.connect ul{
		margin: 0px; 
		padding:0px;
		text-align: center;
		background-color: white;
		
		 

	}
	.connect li{
	   display: inline-block;
		 
		  
   }
	
	.connect a{
	text-decoration: none;
	color:black;
	font-size: 18px;	
	font-family:arial;
	margin: 0px;	
	padding: 4px 20px; 	
	display:block	
  }
	
	a:hover{
		background-color: palegreen;
	}
}