body{
	margin: 0;
  background-color: black;
}

.container{
	display: grid;
  width: 400px;
	margin: auto;


}
.desc{
	text-align: center;
}
.desc h2{
	font-family:monospace;
	color: blue;
	line-height: 3px;
	font-size: 25px;

}
.desc span{
	font-family:monospace;
	color: grey;
	line-height: 3px;
	font-size: 15px;
	font-style: italic;
}
.list{
	text-transform: uppercase;
	color: #76ea65;

}
.list ul{
	list-style-type: none;
	padding: 15px;
}
.list a{
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Acme', sans-serif;
	color: #76ea65;

}
.list a:visited{
	color: #76ea65;

}
.list a:hover{
	color: #ea6565;

}
.terminal{
	color:grey;
	padding: 10px;
}
.summary{
	margin-top: 5px;
	color: #0000ff;
	margin-left: 30px;

	font-family: arial;

}
li i{
	float: right;
	color: #76ea65;
}
.summary img::after{
	clear: both;
}
footer{
	text-align: center;
	color: #76ea65;
}
footer a{
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Acme', sans-serif;


}
