body{
  margin: 0;

}
.container{
 font-size: 1rem;


}
.nav{
  background-color: rgba(51, 51, 51, 0.7);
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  width: calc(23%);
  height:100%;
  left:0;
  top:0;
}
.content{
  width: calc(77%);
  height: 100%;
  margin-left: 23%;
  position: absolute;
}
.profile{
  color: white;
  text-align: center;
  font-family: monospace;
}
.profile h3:first-child{
  display: none;
}


.next{
 margin-top: 30px;

}
.next ul{
  list-style-type: none;
  margin: 0;
  padding-left:0;
  overflow: hidden;

}
.next li{
  margin: 3px;
}

.profile img{
  border-radius: 50%;
  border: 2px solid #21b2c3;
  display: block;
  margin: auto;
}


.next a{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 15px;
  font-family: monospace;
  color: white;
  outline: none;
  font-size: 16px;
  transition: background-color font-size 0.5s;


}


.cliked{
  background-color: #21b2c3;

}


@media (min-width:569px){
  body{
    margin: 0;
    background-image: url("../img/bg.jpg");
    background-size:cover;
    background-repeat: no-repeat;

  }
  .open{
    display: none;
  }
 .close{
  transform: translate(0,0);
 }
 .content{
  width: calc(77%);
  }

  .profile{
    color: white;
    text-align: center;
    font-family: monospace;
  }
  .closebtn{
    display: none;
  }
  .profile img{
    width: 150px;
    height: 150px;

  }

  .next{
   margin-top: 30px;

  }
  .next ul{
    list-style-type: none;
    margin: 0;
    padding-left:0;
    overflow: hidden;

  }
  .next li{
    margin: 3px;
  }


  .next a:hover{
    background-color: grey;
    outline: none;

  }
  .next a:active{
    color: pink;
  }

  .cliked{
    background-color: #21b2c3;

  }


}
@media (max-width:568px){
  .nav{
  background-color: rgb(51, 51, 51);
  width: 100%;
  height:100%;
  box-sizing: border-box;
  padding: 0px;
  z-index: 1;
  overflow-x: hidden;
  transform: translate(0,0);  
  transition: transform .7s;
}
.open{
  display: inline;
  font-size: 30px;
  margin-left: 8px;
}
.close{
 transform: translate(-100%,0);

}
  .content{
  margin:0;
  width: 100%;
  height: 100%;
  z-index: 0;
  box-sizing: border-box;


}
.content h3{
  margin:0;
  padding: 10px;
}
  .closebtn{
  text-align: right;
  margin:2px;
  text-decoration: none;
  display: block;
  color: white;
  padding: 5px;
  font-size:30px;

}
.closebtn::after{
  content: "";
  display: table;
  clear: both;
}


.profile img{
  width: 150px;
  height: 150px;

}

}
